/*!
 * Styles
 */

 .bg-primary {
  background-color: #c1e1e2!important;
}

 .text-uppercase {
    text-transform: lowercase !important;
  }  

a.nav-link.active {
   background:rgb(81, 153, 225) !important;
}

  h1.heading {
    text-align: center;
  }

  .intro {
    padding-top: 2em !important;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .lead {
    padding-top: 1em !important;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .img-fluid {
    border:2px solid #2c3e50;
  }

  .portfolio .portfolio-item {
    border-radius: 0rem !important;
  }

  .portfolio-item-caption {
    background-color: rgb(81, 153, 228) !important;
  }  

  .portfolio-modal .close {
    color: rgb(81, 153, 225) !important;
  }  
  
  .btn-primary {
    background-color: rgb(81, 153, 225) !important;
    border-color: rgb(81, 153, 225) !important;
  }  